*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
body{
    background-color: #d3d3d3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
}
.border:hover{
    border:2px solid #145DA0;
}
.nav-bar{
    background-color: white;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
}
.logo{
    display: flex;
    width:20%;
    padding-left:10px;
}
.logo-icon{
    font-size: 2.7rem;
    color:#145DA0;
}
.logo-name{
    font-weight: bolder;
    font-size: 2.4rem;
    color:#0C2D48;
}

/*search box*/

.search{
    display:flex;
    width:30%;
    justify-content: center;
}

.search-bar input{
    border:none;
    width:250px;
    height:25p;
}

.search-bar{
    width:250px;
    border-left:2px solid #0C2D48;
    border-top:2px solid #0C2D48;
    border-bottom:2px solid #0C2D48;
    height:25px;
    display: flex;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-icon{
    display: flex;
    align-items: center;
    width:35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#0C2D48;
    color:white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*elements box*/

.nav-ele{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    font-size:1.2rem;
}
.nav-ele a{
    border:2px solid transparent;
    color:#0C2D48;
    font-weight: bold;
}

/***** panel ******/

.panel{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #145DA0;
}

.filter{
    display: flex;
    justify-content: center;
    width:30%;
    padding-left:20px;
}
.filter-by{
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
}
.f{
    margin-right:2px;
    margin-left:2px;
    height:25px;
}

.activity{
    width: 70%;
    display: flex;
    justify-content: end;
    padding-right:30px;

}
.activity-main{
    border:2px solid transparent;
    display: flex;
    justify-content: flex-end;
}
.activity-text a{
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
}
.activity-logo{
    color:white;
    margin-left:10px;
    font-size: 1.3rem;
}